<style>
  body {
  overflow-x: hidden;
font-family: "Poppins", sans-serif;
  background: #616161 !important;
  color:black;
  font-size: 16px;
    }

  .nav-tabs li a {
   
   color: black;
  }

  
</style>
<h3 class="text-center">Consultas</h3>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Informacion</a></li>
    <li><a data-toggle="tab" href="#menu1">Contacto</a></li>
 
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h2>Turnos</h2>
        <h4>Para solicitar un turno puede comunicarse al:</h4><h5>Celular: 1130782995<br/>E-mail: kcindyvelazquez@gmail.com</h5>
    </div>
    <br />
    <br />
    <br />
    <div id="menu1" class="tab-pane fade">
        <h2>Comentarios</h2>
        <div class="container">
 
  <div class="row test">
    <div class="col-md-4">
      <p>Ubicacion</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Argentina - Buenos Aires</p>
      <p><span class="glyphicon glyphicon-phone"></span>Celular: +54 1530782995</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: kcindyvelazquez@gmail.com</p> 
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="5"></textarea>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Enviar</button>
        </div>
      </div> 
    </div>
  </div>
</div>
    </div>
   
</div>
<br />
<br />





